@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    background-color: #222831;
}

#content{
    padding: 30px;
    width: 30%;
    height: 93vh;
    background-color: #EADBC8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

#screen-box{
    background-color: #627254;
    padding: 15px;
    border-radius: 20px;
    height: 30%;
}

#screen{
    background-color: #9EB23B;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#upside-buttons{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.upside-button{
    background-color: #E72929;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.upside-button:hover{
    background-color: #ca2424;
    cursor: pointer;
}

.buttonB-box{
    margin-left: auto;
}
.buttonA-box{
    margin-right: auto;
}

#downside-buttons{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}

.downside-button{
    height: 25px;
    width: 70px;
    background-color: #627254;
    border-radius: 15px;
}

.downside-button:hover{
    background-color: #4b5740;
    cursor: pointer;
}

.buttonC-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonD-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adesivoNFC-box{
    height: 93vh;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adesivoNFC{
    background-color: #EADBC8;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adesivoNFC:hover{
    cursor: pointer;
}

#avaiabilityList{
    /* height: 93vh; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #31363F;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: white;
}

ul{
    list-style: none;
    color: white;
    margin-top: 10px;
}